body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0f172a;
  color: white;
}

h1 {
  margin-top: 20px;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.box {
  width: 100px;
  height: 100px;
  font-size: 40px;
  cursor: pointer;
  background: #1e293b;
  color: white;
  border: none;
  border-radius: 10px;
}

.box:disabled {
  cursor: not-allowed;
}

.msg {
  font-size: 20px;
  margin: 10px;
}

#reset {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
.win{
  position: absolute;
  top: 8rem;
  right: 15rem;
  color: rgb(181, 228, 9);
  
  font-size: 10rem
  
}
@media(max-width:600px){
  .win{
    right: 0%;
    font-size: 7rem;

  }
}